<nav>
    <div class="fixed-top teal lighten-2 ">
      <a class="navbar-brand" href="#">
        <img src="https://cdn-icons-png.flaticon.com/512/3124/3124676.png" alt="image" width="60" height="50">
      </a>
      <a href="#!" class="brand-logo">MASCOTA FELIZ</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="home">Home</a></li>
        <li><a href="empresa/quienes-somos">Acerca de</a></li>
        <li><a href="user/registro">Registrate</a></li>
        <li><a href="seguridad/login">Iniciar sesion</a></li>
      </ul>
    </div>
  </nav>
  
  <ul class="sidenav" id="mobile-demo">
    <li><a href="home">Home</a></li>
    <li><a href="empresa/quienes-somos">Acerca de</a></li>
    <li><a href="user/registro">Registrate</a></li>
    <li><a href="seguridad/login">Iniciar sesion</a></li>
  </ul>
  

